@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--very-dark-blue-main: hsl(217, 54%, 11%);
--very-dark-blue-card: hsl(216, 50%, 16%);
--very-dark-blue-line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
}


body {
    background-color: var(--very-dark-blue-main);
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.container {
    width: 300px;
    height: auto;
    padding: 15px;
    background-color: var(--very-dark-blue-card);
    border-radius: 10px;
    color: var(--soft-blue);
    margin-bottom: 10px;
}

.container .mainimage img {
    max-width: 100%;
    border-radius: 10px;
}

.container .mainimage {
    position: relative;
}

.container .mainimage div {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: 98%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container .mainimage div:hover {
    opacity: 1;
    cursor: pointer;
}

.container .mainimage div img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid var(--very-dark-blue-line);
    margin-bottom: 10px;
}

.container ul li {
    display: flex;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
}

.container ul li img {
    margin-right: 3px;
}
.container ul li:first-child {
    color: var(--cyan);
}

.container p {
    font-weight: 300;
    color: var(--soft-blue);
    margin-bottom: 10px;
}

.container h2 {
    color: var(--white);
    margin: 10px 0px 10px 0px;
}

.container h2:hover {
    color: var(--cyan);
    cursor: pointer;
}

.container .avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: small;
}

.container .avatar img {
    width: 30px;
    border: 2px solid var(--white);
    border-radius: 50%; 
    margin-right: 10px;
}

.container .avatar p {
    margin-top: 5px;
}

.container .avatar p span {
    color: var(--white);
    font-weight: 400;
}

.container .avatar p span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    color: var(--white);
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

